@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');
:root {
  /* Colors */
  --dark-graysh-blue: hsl(217, 19%, 35%);
  --dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}
* {
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;

  margin: 0;
  padding: 0;
}

body {
  font-size: 13px;
  background-color: var(--light-grayish-blue);
}
.container {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0 1.85rem;
}
button {
  appearance: none;
  border: none;
  outline: none;
}

/* CARD */
.card {
  --card-padding: 40px 32px 17px 32px;

  min-width: 315px;
  max-width: 730px;

  background-color: #fff;
  border-radius: 6px;
  box-shadow: 6px 18px 25px 5px rgba(158, 175, 194, 0.2);
}
/* Card header */
.card__header {
  width: 100%;
  height: 200px;
}
.card__header img {
  width: 100%;
  height: 100%;

  object-fit: cover;
  border-radius: 6px 6px 0 0;
}

/* Card body */
.card__body {
  padding: var(--card-padding);
}
.card__body h3 {
  color: var(--dark-graysh-blue);

  margin-bottom: 1em;

  font-size: 1.2em;
  font-weight: 700;
}
.card__body p {
  color: var(--dark-blue);
}

/* Card footer */
.card__footer {
  min-height: 74px;

  padding: var(--card-padding);
  padding-top: 17px;

  display: flex;
  align-items: center;

  border-radius: 0 0 6px 6px;

  background: linear-gradient(to right, #fff 50%, var(--dark-graysh-blue) 50%);
  background-size: 200% 100%;
  background-position: left bottom;

  transition: background 1s;
}
.card__share-button {
  width: 32px;
  height: 32px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: auto;
  border-radius: 50%;
  cursor: pointer;

  background-color: var(--light-grayish-blue);
}
/* Card footer person share */
.card__footer-share--person {
  display: flex;
  align-items: center;
}
.card__avatar-icon {
  width: 40px;
  margin-right: 16px;
  border-radius: 50%;
}
.card__footer-text strong,
.card__footer-text span {
  display: block;
}
.card__footer-text strong {
  color: var(--dark-graysh-blue);
}
.card__footer-text span {
  color: var(--grayish-blue);
}

/* Card footer social share */
.card__footer-share--social {
  display: none;
  color: white;
}
.card__social-icons {
  display: flex;
  align-items: center;
}
.card__social-icons span {
  margin-right: 23px;
  color: var(--grayish-blue);
  letter-spacing: 3px;
  cursor: pointer;
}
.card__social-icon {
  margin-right: 16px;
}
.card__footer-share--social .card__share-button {
  background-color: var(--dark-blue);
}

/* Card footer--share */
.card__footer--share .card__share-button {
  background-color: var(--grayish-blue);
}
.card__footer--share .card__footer-share--person {
  display: none;
}
.card__footer--share .card__footer-share--social {
  display: block;
}
.card__footer--share .card__tooltip {
  display: none;
}

/* Media queris */
@media (max-width: 1439px) {
  .card__footer--share {
    background-position: right bottom;
    transition: background 1s;
  }
}

@media (min-width: 1440px) {
  .card {
    display: grid;
    grid-template-columns: 38% 1fr;
  }
  /* Card header */
  .card__header {
    grid-row: 1/3;
    height: auto;
  }
  .card__header img {
    border-radius: 6px 0 0 6px;
  }
  /* Card footer */
  .card__footer {
    padding-top: 0;
  }
  .card__footer--share .card__share-button {
    background: var(--dark-graysh-blue);
  }
  .card__footer--share .card__footer-share--person {
    display: flex;
  }
  .card__footer--share .card__footer-share--social {
    display: none;
  }
  /* Card tootlip */
  .card__footer--share .card__tooltip {
    display: block;
    transition: opacity 300ms;
    opacity: 1;
  }
}

/* Card tooltip */
.card__tooltip {
  position: absolute;
  top: 0;
  left: 0;

  padding: 16px 35px;

  border-radius: 9px;
  background-color: var(--dark-graysh-blue);

  opacity: 0;
}
.card__tooltip .arrow {
  position: absolute;
  left: calc(50% - 1rem);
  bottom: calc(-1rem + 1px);

  width: 0;
  height: 0;

  border: 1rem solid transparent;
  border-top-color: var(--dark-graysh-blue);
  border-bottom-width: 0;
}
